################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.*.sw*
*.sdf
*.suo
*.opensdf
*.obj
*.tlog
*.opendb
*.db
*.ipch
*.pch
*.user
/*.ncb
/.vscode/*
/release
/build/msvc/Release*
/build/msvc/Debug
/build/msvc/.vs
/build/CMakeFiles
/build/CMakeTools
/build/msvc/*.vspx
/build/msvc/*.props
/dist/*.log
/dist/*.map
/dist/portable
/docs/build/
/ipch
/src/bzip2/Release
/src/lzma/Release
/src/zlib/Release
/src/updaterevision
/src/gitinfo.h
/win_installer/Output
cmake-build-debug/
\.idea/

/dist/*
!/dist/res
!/dist/CMakeLists.txt
!/dist/makebuild.ps1

# more files
#	.ccls-cache/
.ccls-cache/
CMakeCache.txt
CMakeFiles/
Makefile
UNSAVED (Doom WAD)
UNSAVED (Doom WAD).bak
cmake_install.cmake
slade.pk3
src/CMakeFiles/
src/External/CMakeFiles/
src/External/Makefile
src/External/cmake_install.cmake
src/Makefile
src/cmake_install.cmake
src/cmake_uninstall.cmake
src/cotire/
src/slade_CXX_cotire.cmake
src/slade_C_cotire.cmake
src/tags
updates.txt
